.item-producto{
    /* background-color: aquamarine; */
    border: solid 1px darkorange; 
    display: inline-block;
    margin: 5px;
    padding: 10%;
    width: 20%;
}
.imagen-producto{
    padding: 20%;
    width: 40%;
}