nav {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  /* background-color: #fffbe6; Color de fondo más oscuro */
  position: sticky;
  /*padding: 3px 3px;  Agrega un padding para separar el contenido del borde */
  font-weight: bold; /* Hace que el texto se vea más grueso */
  /*box-shadow: 0 2px 4px rgba(232, 196, 196, 0.1); /* Agrega una sombra suave al fondo */
  border-bottom: 2px solid gray;
  box-shadow: 0 4px 2px -2px gray;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0); /* Color del texto */
  padding-right: 0.5rem;
  /* margin: 0 0.5rem; */
  border-radius: 0.5rem;
  font-size: 2vh;
  transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
}

nav ul li a:hover {
  background-color: #00712d; /* Color de fondo al pasar el mouse */
  color: #d5ed9f; /* Cambia el color del texto si lo deseas */
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  border-radius: 0.2rem;
}



/*Estilos para los datos del encabezado*/
.div-contacto {
    display: block;
    height: 3vh;
    text-align: justify;  
    background-color: #1d3a9b;
  }

.div-image-search {
  /* display: inline-block; */
  display: flex;
  height: 8vh;
 
  background-color: #EBF4F6;

  /* border: solid 2px chartreuse; */
}

.div-link {
  display: block;
  height: 4vh;
  background-color: #EBF4F6;
}

.datos{
    font-size: 2vh;
    margin: 0;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.807);
}

.tel-correo{
    display: inline-block;
    
}

.pedidos{
    font-size: 2vh;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
    color: rgba(255, 255, 255, 0.807);
   
}

.container-icono{
    width: 75px;
    display: inline-block;
    /* border: solid 1px #071952; */
}

.inicio-sesion{
    position: absolute;
    right: 80px;
    padding: 0;
    margin: 0;
    
}

.inicio-sesion-text{
    padding: 0;
    padding-top: 20px;
    margin:0;
    font-size: 1.8vh;
    line-height: 1.2;
}

.carrito-compras{
    position: absolute;
    right: 10px;
    padding: 0;
    margin: 0;
}


