.recovery-container {
   max-width: 400px;
   margin: 50px auto; /* Agregado espacio superior e inferior de 50px */
   padding: 20px 20px 40px; /* Aumentado el bottom de 20px a 40px */
   background-color: #f9f9f9;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .recovery-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .recovery-form label {
    margin-bottom: 5px;
  }
  
  .recovery-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .recovery-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recovery-message {
    color: green;
    font-size: 14px;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  